@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*, * ::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --black : #000;
  --white: #fff;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: 'Alata' , 'Josefin Sans';
}



.Desktopguy{
  display: none;
}

.Insteaofmenu{
  display: none;
}

.HeaderimgDesktop{
  display: none;
}

header{
  position: relative;
}

.Headerimg{
  position: relative;
}

.Header-text{
  font-size: 30px;
  font-family: 'Alata';
  font-weight: 400;
  color: var(--white);
  left: 20px;
  top: 20px;
  position: absolute;
}

.logo{
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 37px;
}

.icon{
  background-color: var(--white);
  margin-top: 2px;
  height: 3px;
  width: 24px;
}

.Burgermenu{
  width: 375px;
  height: 650px;
  background-color: black;
  position: absolute;
  left: -323px;
  top:-37px;
  transition: all 1s;
  transform: translate(100%);
  z-index: 4;
 
}

.active{
  transform: translatex(0%);
  transition: all 2s;
}

.Studioloop{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.Studioloop img{
  padding-right: 20px;
}

.brg-loop{
 color: var(--white);
 font-size: 24px;
 font-family: "Alata";
 font-weight: 400;
 padding-left: 20px;
}

.Burger-menu-about{
  margin-top: 159px;
  margin-left: 24px;
}

.Burger-menu-about h3{
  color: var(--white);
  font-family: 'Josefin Sans';
  font-size: 24px;
  font-weight: 300;
  line-height:  104.167% ;
  text-transform: uppercase;

}

.Border{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute  ;
  width: 327px;
  height: 196px;
  border: 1px solid var(--white);
  top: 230px;
  left: 7%;
}

.Border-text{
  text-align: left;
  color: var(--white);
  font-family: 'Josefin Sans';
  font-size: 20px;
  font-weight: 300;
  line-height: 38px; 
  text-transform: uppercase;
  width: 279px;
  opacity: 0.75;

}

.main{
  position: relative;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: auto;
}

.DeskTop{
  display: none;
}

.Maninvr{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Textbox-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Text-Onimg{
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 54px;
  top: 31%;
  left: 13%;
  z-index: 3;
}

.Imagebox-2{
  position: relative;
}

.Text-Onimg-2{
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 54px;
  top: 5%;
  left: 13%;
  z-index: 3;
} 

.Text-Onimg p , .Text-Onimg-2 p{
  color: var(--white);
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 300;
  line-height:  100%;
  text-transform: uppercase;
}

.First-p{
  color: var(--black);
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 32px;
  font-weight: 300;
  line-height:  100% ;
  text-transform: uppercase;
}

.Second-p{
  color: var(--black);
  text-align: center;
  font-family: 'Alata';
  font-size: 15px;
  font-weight: 400;
  line-height: 166.667% ;
  width: 279px;
  opacity: 0.4994;
}

.Allimages{
  margin-top: 96px;
}

.Creation{
  color: var(--black);
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 32px;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
}

.Allimages img{
  padding-left: 7%;
  padding-top:12px;
  padding-bottom: 12px;
}


.Desktopbutton{
  display: none;
}

button{
  position: relative;
  left: 30%;
  width: 157px;
  height: 40px;
  flex-shrink: 0;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Alata';
  font-size: 14px;
  font-weight: 400;
  line-height:  100% ;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.Last-Footer{
  margin-top: 96px;
  background-color: var(--black);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Last-div{
  text-align: center;
}

.loop{
  color: var(--white);
  font-size: 30px;
  font-family: 'Alata';
  font-weight: 400;
}

.Icons-and-Loop{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Last-p{
  color: var(--white);
  font-family: 'Alata';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667% ;
}

.Last-image{
  margin-top: 48px;
}

.REAL-Last-p{
  color: var(--white);
  font-family: 'Alata';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height:  166.667%;
}

